* {
    box-sizing: border-box;
    padding: 5px;
    margin: 8px;
}

h1 {
    font-size: 76px;
}


img {
    width: 200px;
    height: 200px;
    gap: 20px;
}

.logo-image {
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.paragraph {
    color: blue;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

span {
    font-size: 45px;
    font-weight: bolder;
}

.item-span {
    font-weight: bolder;
    font-size: 28px;
}