* {
    box-sizing: border-box;
    padding: 5px;
    margin: 8px;
}

body {
    background-color: yellow;
}

h1 {
    font-size: 76px;
}


img {
    width: 200px;
    height: 200px;
    gap: 20px;
}

.carousel-inner {
    width: 100%;
    max-height: 500px;
    /*optional limit*/
    overflow: hidden;
}

.carousel-item img {
    height: 450px !important;
    /*medium height*/
    width: 100% !important;
    /*full width*/
    object-fit: cover !important;
    /*keeps images from stretching*/
    display: block;
}


.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translate(-50%);
}

@media(max-width:768px) {
    .carousel-item img {
        height: 250px;
        /*smaller height for phone*/
    }
}

.image-item {
    width: 200px;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.paragraph {
    color: blue;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

span {
    font-size: 45px;
    font-weight: bolder;
}